<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col text-center>
       <h2>Enter the right code</h2>
       <p *ngIf="!won">
         Tap twice, an Press four times !
       </p>
       <p *ngIf="won">
         You won !
       </p>
     </ion-col>
   </ion-row>

   <ion-row>
     <ion-col>
       <ion-list>
         <ion-item>
           <p>Tapped {{tapped}}</p>
         </ion-item>
         <ion-item>
           <p>Pressed {{pressed}}</p>
         </ion-item>
       </ion-list>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       <button ion-button=""
               (tap)="onTap()"
               color="danger">Tap </button>
     </ion-col>
     <ion-col>
       <button
         (press)="onPress()"
         ion-button="" color="secondary">Press</button>
     </ion-col>
   </ion-row>
   <reset-component (didReset)= onDidReset($event)>

   </reset-component>
 </ion-grid>
</ion-content>
